{% extends "base.html" %}
 
{% block title %}
Submission Status
{% endblock title %}

{% block content %}
<form id=simform method="get">
<table>
{{ form }}
<tr><td>
<input type=submit value='Search'></td></tr>
</table>
</form>
<table align=center>
<tr  class='toprow'>
<td width="8%">RunID<td width="10%">User<td width="6%">Problem<td width="17%">Result<td width="10%">Memory<td width="8%">Time<td width="6%">Language<td width="10%">Code_Length<td width="17%">Submit_Time</tr>
{% for i in status_list %}<tr align=center><td>{{ i.id }}<td>{% if i.userid > 0 %}<a href='{% url 'userinfo' i.userid %}'>{{ i.username }}</a>{% else %}{{ i.username }}{% endif %}<td><a href='{% url 'problem' i.problem %}'>{{ i.problem }}</a><td>{{ i.result }}<td>{{ i.memory }} <font color=red>kb</font><td>{{ i.time }} <font color=red>ms</font><td>{{ i.language }}<td>{{ i.code_length }} B<td>{{ i.submit_time }}</tr>{% endfor %}</table>
[<a href={% url 'status' %}>Top</a>]&nbsp;&nbsp;[<a href={% url 'status' %}?offset={{ prev_offset }}&limit={{ limit }}{{ param }}>Previous Page</a>]&nbsp;&nbsp;[<a href={% url 'status' %}?offset={{ next_offset }}&limit={{ limit }}{{ param }}>Next Page</a>]</center>
{% endblock content %}